.todo-container {
  color: rgb(255, 255, 255);
  background-color: rgb(87, 4, 196);
  min-height: 100px;
  border-radius: 20px;
  border: 1px black solid;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  margin: 10px 0;
}

.todo-div {
  width: 80%;
}

.todo-container-info {
  max-width: 90%;
}

.todo-container-date {
  font-weight: 200;
  font-size: 12px;
}

.todo-container-edit-input {
  width: 80%;
  height: 35px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 18px;
}

.todo-container-info-checkbox {
  width: 70%;
  display: flex;
  align-items: center;
}

.todo-container-checkbox {
  display: none;
}
