@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

.todo-container {
  color: #393E46;
  background-color: #EEEEEE;
  min-height: 100px;
  border-radius: 20px;
  border: 1px black solid;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  margin: 10px 0;
  animation: append-animate .2s linear;
}

.todo-div {
  width: 80%;
}

.todo-container-info {
  max-width: 90%;
}

.todo-container-date {
  font-weight: 200;
  font-size: 12px;
}

.todo-container-edit-input {
  color: #1a1c1f;
  width: 80%;
  height: 35px;
  padding: 5px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 20px;
  border: 1px solid #393E46;
}

.todo-container-info-checkbox {
  width: 70%;
  display: flex;
  align-items: center;
}

.todo-container-checkbox {
  display: none;
}
