.main-container {
  background-color: darkorchid;
  display: flex;
  width: 50vw;
  max-width: 700px;
  height: 70vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.main-container-todo-containers {
  overflow-y: auto;
  height: 580px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}